services:
  postgres:
    image: postgres:17
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: sit-in-spaeti
      POSTGRES_PASSWORD: sit-in-spaeti
      POSTGRES_DB: sit-in-spaeti
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: